<style>
    section{
      padding: 60px 0;
      margin-left: 60px;
      margin-right: 60px;
    }
</style>
    <section>
        <h2>About Us</h2>
        <p>
            Female owned. Female first. We put women’s reproductive needs first. 
            NO MATTER WHAT. 
            NO BIAS. 
            NO JUDEGEMENT.
        </p>
    </section>
    <section>
        <h2>We’re revolutionizing Reproductive Health.</h2>
        <p>
            Giving unbiased information to women about their reprodctive system.
        </p>
        <p>
            Giving women a place to make a plan for their future whether that’s: a childfree life, motherhood, or something inbetween.
        </p>
        <p>
            Empowering women to take their reproductive health into their hands by encouraging them to speak to their healthcare providers about ABORTIONS, STERILIZATIONS, PMDD, or BIRTH CONTROL.
        </p>
    </section>
    <section>
        <h2>How can you get involved?</h2>
        <p>
            The most important changes start at home.
            Grassroots organizations do much more menaful work in your community than national organizations.
        </p>
        <p>
            VOLUNTEER TIME
            DONATE
            PROTEST
        </p>
        <h3>
            BE A GOOD HUMAN.
        </h3>
        <p>
            Kindness and compassion are in short supply these days. Think before you speak. Speak up for others. Kind acts are the best ways to get involved.
        </p>
    </section>
