<style>
    section{
      margin-top: 200px;
      padding: 40px;
    }
</style>
<section class="container border rounded justify-content-center align-items-center">
<h3 class="text-center">Period Tracker</h3>
<div class="section">
    <p class="lead text-center">Be in tune with your body.</p>
</div>
<div class="divider"></div>
<div class="section text-center m-5">
    <a href="/auth/google" class="btn btn-danger text-center">
        <i class="fab fa-google left text-center"></i> Log In With Google
    </a>
</div>
</section>