<style>
    section{
      padding: 80px 0 60px 0;
      margin-left: 60px;
      margin-right: 60px;
    }
</style>
<section><h3>Add Forum Post</h3></section>
<div class="row">
    <form action="/forum" method="POST" class="col-12">
        <div class="col-12">
            <div class="input-field col-12">
                <input type="text" id="title" name="title" placeholder="Title">
            </div>
        </div>
        <br>
        <div class="col-12">
            <div class="class">
                <textarea name="body" id="body"></textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Post" class="btn">
            <a href="/dashboard" class="btn btn-danger">Cancel</a>
        </div>
    </form>
</div>